.contact-container {
  font-family: "Manrope", sans-serif;
  background-image: url("../assets/unsplash_background.svg");
  background-size: cover;
  background-position: center top;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 40px;
  height: 746px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.contact-container h1 {
  font-size: 52px;
  font-weight: 700;
  line-height: 54.55px;
  padding-top: 90px;
  margin-left: 100px;
  color: #000;
}

.contact-container p {
  margin-left: 100px;
  font-weight: 400;
  font-size: 18px;
  line-height: 27.94px;
  margin-bottom: 40px;
  /* color: #222222; */
}

.contact-form {
  display: flex;
  flex-direction: column;
  margin-left: 100px;
}

.form-group {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  width: 1147px;
}

.form-group input {
  width: 100%;
  padding: 8.81px 26.42px 8.81px 26px;
  margin-bottom: 20px;
  border: 1.1px solid #696cff;
  border-radius: 9px;
  font-size: 16px;
}

textarea {
  width: 1094px;
  padding: 8.81px 26.42px 8.81px 26px;
  margin-bottom: 20px;
  border: 1.1px solid #696cff;
  border-radius: 9px;
  font-size: 16px;
  height: 187px;
  resize: none;
}

button {
  background-color: #696cff;
  border: 1.1px solid #696cff;
  color: white;
  padding: 15px 20px;
  font-size: 16px;
  /* line-height: 24.83px;
  font-weight: 600; */
  cursor: pointer;
  border-radius: 9px;
  align-self: flex-end;
  margin-right: 130px;
  margin-top: 50px;
}

button:hover {
  background-color: #5a52e0;
}
