.job-feed-page {
  width: 100%;
  height: 100vh;
  position: relative;
  margin-left: -60px;
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.search-bar-job-feed {
  padding-left: 650px;
  padding-top: 80px;
}

.user-dropdown-job-feed {
  margin-left: 1300px;
  margin-top: -70px;
}

.job-card-job-feed h1 {
margin-left: 80px;
margin-top: 80px;
}

.background-overlay-job-feed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.create-job-button {
  margin-left: 1250px;
}
