.log-in-section-component h2 {
  margin: 0;
  padding: 0;
  font-size: 34px;
  line-height: 90px;
}

.log-in-title {
  width: 430px;
  margin-left: 0;
  margin-top: -10px;
  font-family: "Manrope";
  font-weight: 700;
  font-size: 34px;
  line-height: 89px;
}

.log-in-form {
  z-index: 999;
}

.under-title-paragraph {
  margin-top: 60px;
  padding: 0 0 90px 0;
  color: rgba(170, 180, 191, 1);
  letter-spacing: 0.03em;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
}

.under-button-text .whitespace {
  font-weight: 600px;
  font-size: 16px;
  line-height: 22px;
  margin-left: 0;
  color: #566a7f;
}

.under-button-text {
  margin-top: 30px;
  display: flex;
}

.register {
  font-weight: 600px;
  font-size: 16px;
  line-height: 22px;
  margin-left: 5px;
  color: #9574ff;
  text-decoration: none;
}

.email-login {
  width: 521px;
  height: 60px;
  font-size: 17px;
  font-weight: 17px;
  color: #566a7f;
  border-radius: 9px;
  border: 2px solid #696cff;
  margin-bottom: 30px;
}

.password-login {
  width: 521px;
  height: 60px;
  font-size: 17px;
  font-weight: 17px;
  color: #566a7f;
  border-radius: 9px;
  border: 2px solid;
}

.log-in-button button {
  width: 530px;
  height: 60px;
  margin-top: 100px;
  border-radius: 9px;
}

.log-in-form input::placeholder {
  color: rgba(170, 180, 191, 1);
}

.forgot-password-link {
  font-weight: 600px;
  font-size: 16px;
  line-height: 22px;
  margin-left: 400px;
  margin-top: -20px;
  position: absolute;
  color: #566a7f;
  text-decoration: none;
}
