.mentor-detail-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 20px;
}

.mentor-detail-header {
  margin-left: 250px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sidebar-mentor-detail {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
}

/* .mentor-detail-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  } */

.user-dropdown-mentor-detail-page {
  margin-right: 100px;
  margin-top: 50px;
}

.search-bar-mentor-detail-page {
  margin-left: 150px;
  margin-top: 50px;
}
.user-info-card-mentor-detail {
  margin-right: 900px;
  margin-top: 60px;
}

.user-about-card-mentor-detail {
  width: 980px;
}

.assigned-jobs-section-mentor-detail {
  margin-top: -950px;
  margin-right: 940px;
}

.title-pending-jobs {
  font-family: "Roboto";
  font-size: 34px;
  width: 290px;
  height: 20px;
  color: #404d61;
  margin-top: 10px;
}
.pending-jobs-section-mentor-detail {
  margin-top: -950px;
  margin-left: 900px;
}
