.body{
  background-color: #f6f6f6;
}

.mentor-dashboard-page {
  margin-left: 150px;
  width: 100%;
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.test {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.dashboard-header {
  /* display: flex;
  justify-content: space-between;
  align-items: center;
margin-top: 100px;
width: 100%;
  margin-top: 100px;
  padding-bottom: 20px; */
  margin-top: 70px;
  margin-right: 150px;
  position: absolute;

}

.dashboard-content {
  /* width: 100%;
  margin-top: 20px; */
  display: flex;
  gap: 20px;
  margin-top: 80px;
}

.assigned-jobs-mentor-dashboard {
  margin-top: -900px;
  margin-left: 0;
} 

/* .dashboard-header {  
  margin-right: 150px;
  margin-top: 50px;
} */

.search-bar-mentor-dashboard {
  margin-left: 400px;
  display: flex;
  margin-top: 0px;
}

.dropdown-mentor-dashboard {
  margin-right: 20px;
}
