.body{
  background-color: #f6f6f6;
}

.mentor-dashboard-page {
  margin-left: 50px;
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.dashboard-header {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 20px;
  margin-left: 150px;
}

.dashboard-content {
  width: 100%;
  margin-top: 20px;
}

.assigned-jobs-mentor-dashboard {
  margin-top: 10px;
  margin-left: 50px;
} 

.dropdown-mentor-dashboard {
  margin-right: -50px;
}