.setup-mentor-acc-title {
  margin-top: -25px;
  margin-left: 0px;
  font-family: "Manrope";
  width: 500px;
  height: 69px;
  font-weight: 700;
  font-size: 34px;
  line-height: 89px;
  color: #566a7f;
}

.mentor-image-elipse {
  height: 121px;
  width: 121px;
  margin-left: 170px;
}

.mentor-img {
  height: 49px;
  width: 49px;
  margin-left: -85px;
  margin-bottom: 35px;
}

.register-startup-button button {
  margin-top: 90px;
}

.startup-inputs label {
  font-family: "Manrope";
  font-size: 16px;
  font-weight: 500;
  line-height: 21.86px;
  color: #3a4857;
  margin-bottom: -20px;
  display: block;
}

.skills-checkbox-group {
  display: flex;
  flex-wrap: wrap;
}

.skills-checkbox-group .skills-checkbox-label {
  display: flex;
  align-items: center;
  margin-right: 15px;
  margin-bottom: 10px;
  font-family: "Manrope";
  font-size: 13px;
  font-weight: 500;
  color: #9c9aa5;
}

.skills-checkbox-label input {
  margin-right: 5px;
}

.startup-inputs textarea {
  width: 94%;
  height: 150px;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: "Manrope";
  font-size: 14px;
}

.terms-of-use-text-register-form .span-terms-of-use {
  margin-bottom: 0px;
}