.reset-password-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-container {
  margin-bottom: 20px;
  width: 100%;
}

.reset-pass-title {
  margin-left: 0px;
  width: 350px;
  font-family: "Inter";
  font-size: 42px;
  line-height: 72px;
  font-weight: 700;
  color: #222222;
}

.input-label {
  display: block;
  font-size: 14px;
  color: #333;
  margin-top: 30px;
  margin-bottom: 5px;
  text-align: left;
}

.new-password-input,
.confirm-new-password-input {
  width: 100%;
  height: 50px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  box-sizing: border-box;
}

.reset-password-button {
  background-color: #696cff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
  height: 50px;
  margin-right: 1px;
}

.reset-password-button:hover {
  background-color: #575bdf;
}

.success-message {
  color: green;
  margin-top: 15px;
}

.error-message {
  color: red;
  margin-top: 15px;
}
