.assigned-jobs-container {
  width: 100%;
  max-width: 600px;
  margin-left: 650px;
  margin-top: 1000px;
  padding: 20px;
  box-sizing: border-box;
}

.assigned-jobs-title {
  font-family: "Roboto";
  font-size: 34px;
  width: 250px;
  height: 20px;
  top: 148px;
  margin-left: -438px;
  color: #404d61;
}

.filter-tabs {
  display: flex;
  justify-content: flex-start;
  gap: 5px;
  justify-content: space-around;
  margin-bottom: 10px;
  padding-bottom: 5px;
}

.filter-tab {
  margin-right: 70px;
  margin-left: -870px;
  padding: 10px 15px;
  border: none;
  font-family: "Manrope";
  font-weight: 500;
  font-size: 14px;
  line-height: 19.12;
  color: #566a7f;
  background: none;
  cursor: pointer;
  position: relative;
}

.filter-tabs button {
  margin-right: 70px;
  margin-left: -870px;
  padding: 10px 15px;
  border: none;
  font-family: "Manrope";
  font-weight: 500;
  line-height: 19.12px;
  color: #566a7f;
  background: none;
  cursor: pointer;
  font-size: 14px;
}

.filter-tab.active {
  color: #696cff;
}

.filter-tab.active::after {
  content: "";
  position: absolute;
  bottom: 2px;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #696cff;
  border-radius: 2px;
}

.job-list-assigned-jobs {
  margin-top: 10px;
  overflow: hidden;
  margin-left: -450px;
}

.job-list-assigned-jobs .job-item-mentor-dashboard {
  width: 500px;
  height: 52px;
  font-family: "Nunito Sans";
  font-weight: 400;
  font-size: 13.2px;
  line-height: 18.85px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  border: 1px solid #ececec;
  margin: 10px 0;
  border-radius: 5px;
}

.job-name {
  font-family: "Nunito Sans";
  font-size: 13.2px;
  font-weight: 400;
  line-height: 18.85px;
  color: #566a7f;
}

.status-button {
  font-family: "Nunito Sans";
  line-height: 20px;
  padding: 5px 10px;
  border-radius: 12px;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  display: inline-block;
}

.status-button.done {
  background-color: #ebf6eb;
  color: #31aa27;
}

.status-button.rejected {
  background-color: #fff0f3;
  color: #f2076a;
}

.status-button.in-progress {
  background-color: #d3d3ff80;
  color: #696cff;
}
