.button {
  text-align: center;
  font-size: 16px;
  border-radius: 9px;
  text-decoration: none;
  /* margin-top: 15px; */
  /* width: 180px; */
  height: 51px;
  gap: 16px;
  align-content: center;
  background-color: #696cff;
  color: white;
  border: none;
  box-shadow: blue;
}

/* .button {
  background-color: #696CFF;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
} */

/* .button img {
  margin-right: 8px;
} */
