header {
  font-family: "Manrope";
  display: flex;
  flex-direction: row;
  margin: auto;
  width: 90vw;
  align-items: center;
  justify-content: space-between;
}

.header li a {
  text-decoration: none;
  color: black;
}
.header {
  font-size: 18px;
  gap: 70px;
  list-style-type: none;
  display: flex;
}

.header {
  text-decoration: none;
  gap: 70px;
  display: flex;
  align-items: center;
}

.header .login {
  text-decoration: none;
  font-size: 18px;
  color: black;
}

.login {
  cursor: pointer;
}

.app-logo {
  height: 40px;
  margin-left: 90px;
}

.button-header {
  margin-bottom: 45px;
}

.button-header button {
  width: 168px;
  height: 51px;
}

.header .active {
  color: #696cff;
}
