.offer-job-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .modal-content {
    position: relative;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    width: 400px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1001;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .modal-content h2 {
    font-size: 24px;
    color: #696cff;
    margin-bottom: 20px;
  }
  
  .modal-content form {
    width: 100%;
  }
  
  .modal-content label {
    font-size: 14px;
    color: #000;
    margin-bottom: 5px;
    display: block;
  }
  
  .modal-content input,
  .modal-content textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    font-family: "Inter", sans-serif;
  }
  
  .modal-content input::placeholder,
  .modal-content textarea::placeholder {
    color: #bbb;
  }
  
  .modal-content button {
    width: 100%;
    padding: 10px;
    background-color: #696cff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .modal-content button:hover {
    background-color: #0056b3;
  }
  