.search-bar {
    display: flex;
    width: 461px;
    height: 56px;
    margin-top: 41px;
    margin-left: 310px;
    align-items: center;
    background-color: #fff;
    border-radius: 35pxpx;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .search-icon {
    width: 24px;
    height: 24px;
    margin-right: 10px;
    color: #a0a0a0;
  }
  
  .search-input {
    font-family: "DM Sans";
    font-weight: 400;
    line-height: 20.83;
    border: none;
    outline: none;
    flex-grow: 1;
    font-size: 16px;
    color: #B9B8BC;
  }
  
  /* .search-input::placeholder {
    color: #a0a0a0;
  } */