.search-bar {
  background-color: white;
  display: flex;
  width: 461px;
  height: 56px;
  margin-top: -90px;
  margin-left: -950px;
  align-items: center;
  border: 1px solid #e7e7e7;
  border-radius: 25px;
  padding: 5px 10px;
  border-radius: 35px;
  padding: 10px 20px;
}

.search-input {
  flex: 1;
  border: none;
  outline: none;
  padding: 10px;
  font-size: 19px;
  font-weight: 400;
  font-family: "DM Sans";
  line-height: 20.83px;
}

.search-icon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
  color: #a0a0a0;
  margin-right: 10px;
}
