.sidebar {
  width: 250px;
  background-color: #ffffff;
  padding: 20px;
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  transition: width 0.3s;
}

.sidebar.closed {
  width: 80px;
}

.sidebar .logo-sidebar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.sidebar .arrow-icon-sidebar {
  position: absolute;
  transition: transform 0.3s ease;
  right: -25px; 
  top: 40%; 
  transform: translateY(-50%);
  cursor: pointer;

}

.sidebar .arrow-icon-sidebar.rotated {
  transform: rotate(180deg);
}

.sidebar-menu {
  margin-top: 80px;
}

.sidebar-menu .menu-item {
  display: flex;
  align-items: center;
  padding: 10px;
  text-decoration: none;
  color: #333;
  font-size: 18px;
  border-radius: 4px;
  margin-bottom: 10px;
}

.sidebar-menu .menu-item img {
  margin-right: 10px;
}

.sidebar-menu .menu-item.active {
  background-color: #9b9cff;
  color: white;
}

.sidebar-menu .menu-item:hover {
  background-color: #9b9cff;
}

.sidebar-footer {
  position: absolute;
  bottom: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar-footer .logout-icon-sidebar {
  margin-right: 10px;
}

.hidden {
  display: none;
}
